.titulo{
    text-align: center;
}
h1{
    font-size: 40px;
}
.bienv{
    padding-top: 8%;
    text-align: center;
}

.line{
    padding: 0 5% 0 0;
}

.btn-ing{
    padding: 4%;
}

.txt-crear{
    margin-left: 35%;

}

