<ion-header [translucent]="true">
  <ion-toolbar class= "fondo">
    <ion-title class = "banner">
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class= "fondo">

  <div class="titulo">
    <h1>Bienvenido!</h1>
    <p>Sistema de asistencia RegistrAPP</p>
  </div>
  <ion-list>
    <ion-item class="line">
      <ion-input [(ngModel)] = "username" labelPlacement="floating" label="Usuario">
      </ion-input>
    </ion-item>

    <ion-item class="line">
      <ion-input [(ngModel)] = "password" labelPlacement="floating" type="password" label="Contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="validateLogin()">
    Ingresar
  </ion-button>
  <div class = "ion-text-center">
    <a class="a-link">Crea tu cuenta gratis</a>
  </div>

</ion-content>
