<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo">
    <h1>Bienvenido!</h1>
  </div>

  <div class="bienv">
    <p>Bienvenido! {{ username }}</p>
  </div>

  <ion-list>
    <ion-item class="line">
      <ion-input [(ngModel)] = "username" labelPlacement="floating" label="Username">
      </ion-input>
    </ion-item>

    <ion-item class="line">
      <ion-input [(ngModel)] = "password" labelPlacement="floating" type="password" label="Password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="validateLogin()" class="btn-ing" expand="full">Ingresar</ion-button>



  <a href="" class="txt-crear">Crea tu cuenta gratis</a>

</ion-content>
