<ion-header [translucent]="true">
  <ion-toolbar class= "fondo">
    <ion-title class = "banner">
      DuocUC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class= "fondo">

  <div class="titulo">
    <h1>Restablece tu contraseña</h1>
    <p>RegistrAPP</p>
  </div>
  <ion-list>
    <ion-item class="line">
      <ion-input [(ngModel)] = "username" labelPlacement="floating" label="Usuario">
      </ion-input>
    </ion-item>
    <ion-button expand="block" (click)="backtoLogin()">
      Recuperar contraseña
    </ion-button>
  </ion-list>