<ion-header [translucent]="true">
  <ion-toolbar class="fondo">
    <ion-title class="banner">
      <span class="duoc">Registr</span><span class="uc">APP</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="titulo">
    <h1>Registro</h1>
    <p>RegistrAPP</p>
  </div>
  <ion-list>
    <ion-item class="line">
      <ion-input [(ngModel)]="username" labelPlacement="floating" label="Usuario"></ion-input>
    </ion-item>
    <ion-item class="line">
      <ion-input [(ngModel)]="email" labelPlacement="floating" label="Correo Electrónico"></ion-input>
    </ion-item>
    <ion-item class="line">
      <ion-input [(ngModel)]="password" type="password" labelPlacement="floating" label="Contraseña"></ion-input>
    </ion-item>
    <ion-button class="boton" expand="block" (click)="registerUser()">
      Registrarse
    </ion-button>
    <ion-button expand="block" fill="clear" (click)="ingresarLogin()">Volver al login</ion-button>
  </ion-list>
</ion-content>
